:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --ten: #810CA8;
  --thirty: #262626;
  --sixty: #ffffd0;
  --font-color: #ffffd0;
  --normal-font: 1.3rem;
  --title-font: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0px auto;
  min-height: 100svh;
  background-color: var(--thirty);
  color: var(--sixty);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-center {
  text-align: center;
}