:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --ten: #37B5B6;
  --thirty: #F8F8FF;
  --sixty: #2E2E2E;
  --normal-font: 1.2rem;
  --title-font: 1.5rem;
}

/* #125B9A */

* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0px auto;
  min-height: 100svh;
  background-color: var(--thirty);
  color: var(--sixty);
  /* overflow: hidden; */
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100svh;
  left: 0;
  background-color: var(--thirty);
}

.text-center {
  text-align: center;
}

button {
  background-color: var(--ten);
  color: var(--thirty);
  cursor: pointer;
}

.clicked {
  background-color: var(--sixty) !important;
  color: var(--thirty) !important;
}