.form-input {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

.form-input label {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--thirty);
}


.form-input-field[type='text'],
.form-input-field[type='number'] {
    /* all: unset; */
    padding: 0.8rem;
    font-size: var(--normal-font);
    border-radius: 0.3rem;
    border: 1px solid var(--sixty);
    color: var(--sixty);
    border-width: 1px;
    background-color: var(--thirty);
}

.form-input-field:focus {
    border: 1px solid var(--ten);
}


.form-input-field:focus+label,
.form-input-field:not(:placeholder-shown)+label {
    font-size: unset;
    top: -1%;
}

.form-input-field:focus .form-input-field {
    border: 1px solid var(--ten);
}

.form-input-field::placeholder {
    color: transparent;
    opacity: 0;
}

.radio-group {
    display: flex;
    border: 1px solid var(--sixty);
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    border-radius: 0.3rem;
}

.form-clickable-field {
    display: none;
}

.form-input-radio {
    width: 50%;
    text-align: center;
    padding: 0.4rem;
    font-size: calc(var(--normal-font) - 0.3rem);
}

.form-input-radio label {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    transition: all 0.8s ease;
    padding: 0.3rem;
}

.form-clickable-field:checked+label {
    background-color: var(--sixty);
    color: var(--thirty);
    border-radius: 0.3rem;
}

.form-submit-btn {
    padding: 0.3rem;
    width: 70%;
    margin: 0 auto;
    font-size: var(--normal-font);
    border: 1px solid var(--thirty);
    cursor: pointer;
}

@media only screen and (max-width:500px) {

    .radio-group,
    .form-input,
    .form-submit-btn {
        width: 95%;
    }


    .form-container {
        border: 1px solid var(--ten);
    }
}